/* Custom fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:300, 300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Mono&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin:600,600i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Code&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:300, 300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i|PT+Sans:400,400i,700,700i|PT+Mono:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300, 300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.book.font-family-0 p {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  color: #405359;
  font-size: 16px;
  font-weight: 900;
}

.book.font-family-1 p {
  font-family: "Nunito",sans-serif;
  text-align: justify;
  color: #405359;
  font-size: 16px;
  font-weight: 900;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito";
  letter-spacing: 1.5px;
  line-height: 3rem; /* increases, so wrapping headers don't overlap */ 
  color: #447178;
  font-weight: bold;
}


p.caption {
  color: #447178;
  margin-top: 10px;
}


p code {
  color: #447178;
  white-space: inherit;
}

pre {
  color: #447178;
  word-break: normal;
  word-wrap: normal;
}

pre code {
  color: #447178;
  white-space: inherit;
}

/* colors */
:root {
  --dark-blue: #002b36;
  --light-blue: #A7D5E8;
  --green: #8fada7;
  --gray: #A7A7A7;
  --pink: #E9AFA3;
  --yellow: #e9d968;
  --beige: #fdf6e3;
  --green-faint: #8fada750;
  --light-blue-faint: #A7D5E850;
  --pink-faint: #E9AFA350;
}

/* Font colors */
dark-blue {
  color: var(--dark-blue);
}
light-blue {
  color: var(--light-blue);
}
green {
  color: var(--green);
}
gray {
  color: var(--gray);
}
pink {
  color: var(--pink);
}
yellow {
  color: var(--yellow);
}



/* Font sizes */
larger { font-size: 250% }
large { font-size: 120% }
midi { font-size: 85% }
small { font-size: 70% }
xsmall { font-size: 65% }
tiny { font-size: 50% }


/* Square bullets for lists */

ul{
  color: #447178;
  list-style-type: square;
}

blockquote > p:last-child {
  color: #447178;
  text-align: right;
}
blockquote > p:first-child {
  color: #447178;
  text-align: inherit;
}

.smallcaps {
  color: #447178;
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #447178;
  font-weight: 600;
}


li {
  color: #447178;
  font-weight: bold;
}

.book .book-summary {
  color: #447178;
  width: 350px;
  position:absolute;
  top:0;
  left:-350px;
}

.book.with-summary .book-header.fixed {
    color: #447178;
    left: 350px;
}

.book.with-summary .book-body {
    left: 350px;
    color: #447178;

}


